/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

// Some custom styles

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
}

nav {
  color: #ecf0f1;
}

img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// Style blockquotes
blockquote {
    border-left: 2px solid #e67e22;
    padding-left: 10px;
    color: #7f8c8d;
  }
  
  // Add a subtle border to tables
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  // Style table headers
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  // Highlight code blocks with a background color
  code {
    background-color: #f1c40f;
    padding: 3px;
    border-radius: 3px;
  }
  
  // Customize the appearance of the back-to-top button
  #back-to-top {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }